.div1{
    height: 200px;
    width: 200px;
    background-color: darkgreen;
    /*puts them side by side*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*left: 100px;*/
    /*position: relative;*/
    /*bottom: 100px;*/
}

.div2{
    height: 200px;
    width: 200px;
    background-color: red;
    /*puts them side by side*/
    /*display: inline-block;*/
}

.container{
    height: 300px;
    width: 300px;
    background-color: grey;
}

.innerdiv{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    right: 200px;

}