#cara{
    margin-top: 200px;
    gap: 0;

}



/*#menu-img{*/
/*    height: 280px;*/
/*    width: 100%;*/
/*    max-width: 300px;*/
/*    object-fit: cover;*/
/*    display: block;*/
/*    margin: 0 auto;*/
/*    padding: 0;*/
/*    margin-block-start: 0;*/
/*    margin-block-end: 0;*/
/*    border: #F0E68C solid 3px;*/
/*    box-shadow: 2px 2px 2px black;*/
/*}*/

#menu-img{
    grid-column: 1 / -1; /* Spans from the first column line to the last */
    /* OR */
    /* grid-column: span 4; */ /* Spans 4 columns */
    width: 100%; /* Ensure image fills the spanned area */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    flex: 1;
    gap: 0;

}

#info{
    grid-column: 1 / -1;
    width: 100%;
    text-align: center;
    background-color: #7C0A02;
    color: white;
    height: auto;
    border: #F0E68C solid 3px;
    box-shadow: 2px 2px 2px black;
    display: block;
    margin: 0 auto;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    flex: 1;
    gap: 0;
}

