/*Primary color = barn red; accent hay yellow for to offset the red; white for text and trim.”*/

body{
    background-image: url("Assesets/Backround.png");
    background-position-x: center;
    background-attachment: fixed;
    background-size: cover;
}

#Logo,
#store-name{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}
#store-name{
    margin-top: 200px;
    font-family: "Kode Mono", system-ui;
    color: white;
    text-shadow: 2px 2px 2px #F0E68C;
}

#logo-img{
    height: 280px;
    width: 100%;
    max-width: 300px;
    object-fit: cover;
    display: flex;
    margin: 0 auto;
    padding: 0;
    border: #F0E68C solid 3px;
    box-shadow: 2px 2px 2px black;
    gap: 0;
}

.bg-body-primary{
  background-color: #7C0A02 !important;
}

.navbar-collapse,a{
    color: white !important;
}
nav{
    border: 2px solid #F0E68C !important;
    height: 125px;
    margin-bottom: 100px;
}
img{
    height: 100px;
    width: 150px;
    padding-left: 10px;

}
li,a{
    display: flex;
    align-items: center;
    justify-content: right;
    height: auto;
}
.flex-container{
    display: flex;
    align-items: center;
}
.navbar-brand{
    padding-left: 10px;
}
.nav-link,li,a{
    padding: 25px;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    float: right;
}
.navbar-toggler{
    border-color: white;
}
.navbar.navbar-expand-lg.bg-body-primary{
    font-family:"Kode Mono", system-ui; !important;
    font-optical-sizing: auto; !important;
    font-weight: 400; !important;
    font-style: normal; !important;
    text-shadow: 1px 1px 0 black; !important;
    color: black; !important;
    box-shadow: 2px 2px 3px white; !important;
}
#HamburgerInAPizzaShop {
    float: right;
    text-align: center;
}

.nav-link i {
    margin-right: 5px;
}

#CarouselButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}

#carousel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mySlides{
    display: flex;
    justify-content: center;
    max-height: 300px;
    margin: 100px;
    padding: 0;
}

#menu-img{
    height: 280px;
    width: 100%;
    max-width: 300px;
    object-fit: cover;
    display: flex;
    margin: 0 auto;
    padding: 0;
    border: #F0E68C solid 3px;
    box-shadow: 2px 2px 2px black;
    gap: 0;
}

#info{
    text-align: center;
    background-color: #7C0A02;
    color: white;
    height: 280px;
    border: #F0E68C solid 3px;
    box-shadow: 2px 2px 2px black;
    gap: 0;
    display: block;
    margin: auto 0;
    padding: 0;
}

.Buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    gap: 10px;
}

Button{
    background-color: #7C0A02;
    box-shadow: 2px 2px 2px black;
    color: white;
    border-color: #F0E68C;
}

#HiringTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-family:"Kode Mono", system-ui;
    color: white;
}


#application{
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: #7C0A02;
    border: #F0E68C 5px solid;
    box-shadow: black 2px 2px 2px;
}

label{
    color: white;
}

#PersonalInfo,
#address,
#ContactInfo,
#MaritalStatus,
#FavoriteColor,
#TextBox,
#HiringButtons{
    margin-top: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}




